Repository sjafferali/meditrack: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, frontend-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        language_version: python3.11
        files: ^backend/.*\.py$

  - repo: https://github.com/PyCQA/isort
    rev: 5.11.4
    hooks:
      - id: isort
        files: ^backend/.*\.py$

  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        files: ^backend/.*\.py$
        args: ['--config=backend/.flake8']

  - repo: local
    hooks:
      - id: backend-tests
        name: Backend Tests
        entry: bash -c 'cd backend && source venv/bin/activate && python -m pytest tests/ -v'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$

      - id: frontend-tests
        name: Frontend Tests
        entry: bash -c 'cd frontend && npm test -- --watchAll=false'
        language: system
        pass_filenames: false
        files: ^frontend/src/.*\.(js|jsx|ts|tsx)$

Fix GitHub Actions static files verification check
  .github/workflows/main.yml
Due: none

Position PersonManager dialog under date section instead of centered
  frontend/src/components/PersonManager.tsx
Due: frontend-tests

Fix date inconsistency by using local timezone consistently
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Reposition PersonManager modal to appear under date section
  frontend/src/components/MedicationTracker.tsx
  frontend/src/components/PersonManager.tsx
Due: frontend-tests

Fix PersonManager modal positioning to appear below date section
  frontend/src/components/MedicationTracker.tsx
  frontend/src/components/PersonManager.tsx
Due: frontend-tests

Add more space between person name and Default label
  frontend/src/components/PersonManager.tsx
Due: frontend-tests

Fix PersonManager position to appear directly below date section
  frontend/src/components/MedicationTracker.tsx
  frontend/src/components/PersonManager.tsx
Due: frontend-tests

Add left padding to Select a Person heading for better appearance
  frontend/src/components/PersonManager.tsx
Due: frontend-tests

Increase left padding for 'Select a Person' heading for better appearance
  frontend/package.json
  frontend/src/__tests__/components/PersonManager.test.tsx
  frontend/src/components/PersonManager.tsx
Due: frontend-tests

Fix test timeout issues and optimize API call handling
  frontend/fast-test.sh
  frontend/jest.config.js
  frontend/src/__tests__/components/PersonManager.test.tsx
Due: frontend-tests

Fix React useEffect dependency warning in PersonManager component
  frontend/src/components/PersonManager.tsx
Due: frontend-tests

Fix ESLint warnings about unnecessary act() wrappers in tests
  frontend/src/__tests__/components/PersonManager.test.tsx
Due: frontend-tests

Fix timezone issue in daily dose log summary
  backend/app/api/endpoints/doses.py
  frontend/src/components/DailyDoseLog.tsx
  frontend/src/services/api.js
Due: backend-tests, frontend-tests

Fix TypeScript issues in frontend components and add API type definitions
  frontend/src/components/DailyDoseLog.tsx
  frontend/src/components/MedicationTracker.tsx
  frontend/src/services/api.d.ts
  frontend/src/services/api.js
Due: frontend-tests

Fix daily log date display and data loading issues
  backend/app/api/endpoints/doses.py
  frontend/src/__tests__/components/DailyDoseLog.test.tsx
  frontend/src/components/DailyDoseLog.tsx
Due: backend-tests, frontend-tests

Fix CI checks and improve test environment configuration
  backend/app/api/endpoints/doses.py
  backend/app/core/config.py
  backend/app/db/session.py
  backend/run_tests.sh
  run_ci_checks.sh
Due: backend-tests

Fix CI checks and improve error handling in tests
  backend/app/api/endpoints/doses.py
  frontend/src/__tests__/components/DailyDoseLog.test.tsx
Due: backend-tests, frontend-tests

Fix padding around 'Select a person' text in PersonManager component
  frontend/src/components/PersonManager.tsx
Due: frontend-tests

Add printable medication tracking form feature
  MedicationTrackingLog.pdf
  backend/app/api/api.py
  backend/app/api/endpoints/reports.py
  backend/requirements.txt
  backend/tests/api/test_reports.py
  docs/PRINTABLE_TRACKING_FORMS.md
  docs/USER_GUIDE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/components/DailyDoseLog.print.test.tsx
  frontend/src/components/DailyDoseLog.tsx
  frontend/src/services/api.d.ts
  frontend/src/services/api.js
Due: backend-tests, frontend-tests

Update PDF tracking form with time entry blanks
  backend/app/api/endpoints/reports.py
  docs/PRINTABLE_TRACKING_FORMS.md
  docs/USER_GUIDE.md
Due: backend-tests

Fix linting and type issues in reports.py and DailyDoseLog tests
  backend/app/api/endpoints/reports.py
  backend/tests/api/test_reports.py
  frontend/src/__tests__/components/DailyDoseLog.print.test.tsx
Due: backend-tests, frontend-tests

Fix TypeScript errors in DailyDoseLog component
  frontend/src/components/DailyDoseLog.tsx
Due: frontend-tests

Add dedicated Print Tracking Form button to main UI
  frontend/src/components/DailyDoseLog.tsx
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Update PDF format to match provided screenshot
  backend/app/api/endpoints/reports.py
  backend/tests/api/test_reports.py
Due: backend-tests

Fix linting issues in PDF generation code
  backend/app/api/endpoints/reports.py
  backend/tests/api/test_reports.py
Due: backend-tests

Update Print Tracking Form buttons to match other buttons
  frontend/src/components/DailyDoseLog.tsx
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Improve medication tracking PDF format
  backend/app/api/endpoints/reports.py
Due: backend-tests

Add formatted test script for PDF generation
  backend/test_pdf_generation.py
Due: backend-tests

Fix import order in PDF test script
  backend/test_pdf_generation.py
Due: backend-tests

Fix Flake8 issues in PDF test script
  backend/test_pdf_generation.py
Due: backend-tests

Fix PyPDF2 security vulnerability (CVE-2023-36464)
  backend/requirements.txt
  backend/tests/api/test_reports.py
Due: backend-tests

Fix linter error in PDF generation code
  backend/app/api/endpoints/reports.py
Due: backend-tests

Fix PDF generation text overlap issue by checking for space before adding text
  backend/app/api/endpoints/reports.py
Due: backend-tests

Add test coverage for PDF generation with long text and timezone
  backend/tests/api/test_reports.py
Due: backend-tests

Improve static file handling for frontend assets in main.py
  backend/app/main.py
Due: backend-tests

Fix PDF generation text overflow by adding proper page handling
  backend/app/api/endpoints/reports.py
Due: backend-tests

Fix test coverage to meet 80% requirement
  backend/app/api/endpoints/health.py
  backend/tests/api/dependencies/test_database.py
  backend/tests/api/test_health.py
  backend/tests/api/test_persons.py
  backend/tests/api/test_reports.py
Due: backend-tests

Apply black formatting to updated files
  backend/app/api/endpoints/health.py
  backend/tests/api/dependencies/test_database.py
  backend/tests/api/test_health.py
  backend/tests/api/test_persons.py
  backend/tests/api/test_reports.py
Due: backend-tests
