Repository sjafferali/meditrack: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, frontend-tests

backend-tests:
  name: Backend Tests
  entry: bash -c 'cd backend && source venv/bin/activate && python -m pytest tests/ -v'
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm test -- --watchAll=false'
  language: system
  pass_filenames: false

Fix timezone issues causing incorrect dose counts and progress bars
  backend/app/api/endpoints/medications.py
  backend/tests/api/test_medications_timezone.py
  frontend/src/components/MedicationTracker.tsx
Due: backend-tests, frontend-tests

Fix linting issues and format code
  backend/app/api/endpoints/medications.py
  backend/tests/api/test_medications_timezone.py
  frontend/src/components/MedicationTracker.tsx
Due: backend-tests, frontend-tests

Fix failing frontend tests
  frontend/src/__tests__/components/MedicationTracker.test.tsx
Due: frontend-tests

Improve 'Take at Time' menu positioning and update CI scripts
  CLAUDE.md
  frontend/src/App.css
  frontend/src/components/MedicationTracker.tsx
  run_ci_checks.sh
  run_ci_checks_simple.sh
  test_improved_time_picker.html
Due: frontend-tests

Add multi-person medication tracking support
  backend/alembic/versions/35bddb769482_add_person_model_and_relationship_to_.py
  backend/app/api/api.py
  backend/app/api/endpoints/__init__.py
  backend/app/api/endpoints/medications.py
  backend/app/api/endpoints/persons.py
  backend/app/models/__init__.py
  backend/app/models/medication.py
  backend/app/models/person.py
  backend/app/schemas/__init__.py
  backend/app/schemas/medication.py
  backend/app/schemas/person.py
  backend/coverage.json
  backend/data/meditrack.db
  backend/tests/api/test_medications_timezone.py
  backend/tests/conftest.py
  backend/tests/test_models.py
  frontend/coverage/clover.xml
  frontend/coverage/coverage-final.json
  frontend/coverage/lcov-report/index.html
  frontend/coverage/lcov-report/src/App.js.html
  frontend/coverage/lcov-report/src/components/MedicationTracker.tsx.html
  frontend/coverage/lcov-report/src/components/index.html
  frontend/coverage/lcov-report/src/index.html
  frontend/coverage/lcov-report/src/index.js.html
  frontend/coverage/lcov-report/src/services/api.js.html
  frontend/coverage/lcov-report/src/services/index.html
  frontend/coverage/lcov.info
  test_time_picker.html
Due: backend-tests

Integrate person management into MedicationTracker component
  backend/coverage.json
  frontend/coverage/clover.xml
  frontend/coverage/coverage-final.json
  frontend/coverage/lcov-report/index.html
  frontend/coverage/lcov-report/src/App.js.html
  frontend/coverage/lcov-report/src/components/MedicationTracker.tsx.html
  frontend/coverage/lcov-report/src/components/index.html
  frontend/coverage/lcov-report/src/index.html
  frontend/coverage/lcov-report/src/index.js.html
  frontend/coverage/lcov-report/src/services/api.js.html
  frontend/coverage/lcov-report/src/services/index.html
  frontend/coverage/lcov.info
  frontend/src/__tests__/components/MedicationTracker.test.tsx
  frontend/src/__tests__/components/PersonManager.test.tsx
  frontend/src/__tests__/components/PersonSelector.test.tsx
  frontend/src/components/MedicationTracker.tsx
  frontend/src/components/PersonManager.tsx
  frontend/src/components/PersonSelector.tsx
  frontend/src/services/api.js
Due: frontend-tests

Update documentation for multi-person support feature
  CHANGELOG.md
  README.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/MULTI_PERSON_GUIDE.md
  docs/USER_GUIDE.md
Due: none

Fix failing frontend tests for person management integration
  frontend/src/__tests__/components/MedicationTracker.race-condition.test.tsx
  frontend/src/__tests__/components/PersonManager.test.tsx
  frontend/src/components/PersonManager.tsx
Due: frontend-tests

Fix frontend test issues and improve test reliability
  frontend/src/__tests__/components/MedicationTracker.race-condition.test.tsx
  frontend/src/__tests__/components/MedicationTracker.test.tsx
  frontend/src/__tests__/components/PersonManager.test.tsx
Due: frontend-tests

Commit
  .gitignore
Due: none

Remove coverage files from git tracking and update .gitignore
  .gitignore
  backend/coverage.json
  frontend/coverage/clover.xml
  frontend/coverage/coverage-final.json
  frontend/coverage/lcov-report/base.css
  frontend/coverage/lcov-report/block-navigation.js
  frontend/coverage/lcov-report/favicon.png
  frontend/coverage/lcov-report/index.html
  frontend/coverage/lcov-report/prettify.css
  frontend/coverage/lcov-report/prettify.js
  frontend/coverage/lcov-report/sort-arrow-sprite.png
  frontend/coverage/lcov-report/sorter.js
  frontend/coverage/lcov-report/src/App.js.html
  frontend/coverage/lcov-report/src/components/MedicationTracker.tsx.html
  frontend/coverage/lcov-report/src/components/index.html
  frontend/coverage/lcov-report/src/index.html
  frontend/coverage/lcov-report/src/index.js.html
  frontend/coverage/lcov-report/src/services/api.js.html
  frontend/coverage/lcov-report/src/services/index.html
  frontend/coverage/lcov.info
Due: none

Fix frontend test failures and improve test reliability
  frontend/src/__tests__/components/DoseHistoryModal.test.tsx
  frontend/src/__tests__/components/MedicationTracker.race-condition.test.tsx
  frontend/src/__tests__/components/MedicationTracker.test.tsx
  frontend/src/__tests__/components/PersonManager.test.tsx
  frontend/src/__tests__/components/PersonSelector.test.tsx
Due: frontend-tests

Fix TypeScript error in PersonSelector component
  frontend/src/components/PersonSelector.tsx
Due: frontend-tests

fix
  .gitignore
  backend/app/api/api.py
  backend/app/api/endpoints/health.py
  frontend/public/index.html
  frontend/src/components/PersonSelector.tsx
Due: backend-tests, frontend-tests

Fix loading medications issue - Update .gitignore to exclude database files and fix scripts - Add health endpoint to API for better diagnostics
  .gitignore
  backend/app/api/endpoints/health.py
Due: backend-tests

Fix backend linting issues
  backend/app/api/api.py
  backend/app/api/endpoints/health.py
Due: backend-tests

Fix 404 error for person-initializer.js
  .gitignore
  frontend/public/static/js/person-initializer.js
Due: none

Fix person selector getting stuck on loading screen
  PRODUCTION_DEPLOY_FIX.md
  db_check.py
  frontend/public/static/js/person-initializer.js
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Fix person selection from Manage People screen
  PERSON_SELECTION_FIX.md
  frontend/src/components/MedicationTracker.tsx
  frontend/src/components/PersonManager.tsx
  verify_fix.py
Due: frontend-tests

Improve UI of Person Manager screen
  UI_IMPROVEMENTS.md
  frontend/src/components/PersonManager.tsx
Due: frontend-tests

Auto-select default user on app load
  AUTO_SELECT_DEFAULT_USER.md
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Fix UI and tests for person selection - Update PersonManager tests to match new UI - Fix ESLint warnings in PersonManager and PersonSelector - Improve person selection UI
  frontend/src/__tests__/components/PersonManager.test.tsx
  frontend/src/components/PersonManager.tsx
  frontend/src/components/PersonSelector.tsx
Due: frontend-tests

fix
  backend/app/static/asset-manifest.json
  backend/app/static/index.html
  backend/app/static/static/css/main.c4be63a3.css
  backend/app/static/static/css/main.c4be63a3.css.map
  backend/app/static/static/js/main.fa3ab3e5.js
  backend/app/static/static/js/main.fa3ab3e5.js.LICENSE.txt
  backend/app/static/static/js/main.fa3ab3e5.js.map
  backend/app/static/static/js/person-initializer.js
Due: none

fix
  build_images.sh
Due: none

Fix test suite failures - Fix health endpoint routing order to ensure proper request handling - Update root endpoint test to handle both 200 and 404 responses depending on static files availability
  backend/app/main.py
  backend/tests/test_main.py
Due: backend-tests

Update frontend static files to implement UI improvements
  backend/app/static/asset-manifest.json
  backend/app/static/index.html
  backend/app/static/static/js/main.5814bf54.js
Due: none

Add static file deployment fix
  STATIC_FILE_DEPLOYMENT_FIX.md
  fix_static_file_deployment.sh
Due: none

Add GitHub Actions workflow fix for UI updates
  .github/workflows/main.yml.updated
  GITHUB_ACTIONS_FIX.md
  docker-compose.production.yml
  update_existing_deployment.sh
Due: none

fix
  .github/workflows/main.yml
Due: none

Fix Docker build in GitHub Actions workflow
  DOCKER_BUILD_FIX.md
Due: none

Fix Docker build in GitHub Actions with simplified approach
  .github/workflows/main.yml
  DOCKERFILE_CI_FIX.md
Due: none

Move person management modal to top of screen
  frontend/src/components/PersonManager.tsx
Due: frontend-tests

Fix person management modal positioning to match other modals
  frontend/src/__tests__/components/PersonManager.test.tsx
  frontend/src/components/PersonManager.tsx
Due: frontend-tests

Fix PersonManager modal positioning to appear at top of screen
  frontend/src/components/PersonManager.tsx
Due: frontend-tests

Fix person management modal positioning to appear at top of screen
  frontend/src/components/PersonManager.tsx
Due: frontend-tests

Fix
  .github/workflows/main.yml.updated
  backend/app/static/asset-manifest.json
  backend/app/static/index.html
Due: none

Remove static build files from git tracking and improve build process
  .github/workflows/main.yml
  .gitignore
  STATIC_FILES_WORKFLOW_FIX.md
  backend/app/static/asset-manifest.json
  backend/app/static/index.html
  backend/app/static/static/js/main.5814bf54.js
  backend/app/static/static/js/person-initializer.js
Due: none

Restructure static files to eliminate nested static directory
  .github/workflows/main.yml
  Dockerfile
  STATIC_FILES_RESTRUCTURING.md
  backend/app/main.py
Due: backend-tests

Cleanup Docker build process and documentation
  CI_TEST_PLAN.md
  DEPLOYMENT.md
  DEVELOPMENT_PROMPTS.md
  DOCKERFILE_CI_FIX.md
  DOCKER_BUILD_FIX.md
  DOCKER_COMPOSE_CLEANUP.md
  DOCKER_GUIDE.md
  STATIC_FILES_WORKFLOW_FIX.md
  STATIC_FILE_DEPLOYMENT_FIX.md
  backend/Dockerfile
  build_images.sh
  docs/DEPLOYMENT.md
  fix_static_file_deployment.sh
  frontend/Dockerfile
  run_ci_checks_simple.sh
  scripts/test-docker-build.sh
  verify_static_fix.sh
Due: none

Fix Black code formatting in backend main.py
  backend/app/main.py
Due: backend-tests

Path conditions:
  backend-tests: any of: ^backend/.*\.py$
  frontend-tests: any of: ^frontend/src/.*\.(js|jsx|ts|tsx)$
