Repository sjafferali/meditrack: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, frontend-tests

backend-tests:
  name: Backend Tests
  entry: bash -c 'cd backend && source venv/bin/activate && python -m pytest tests/ -v'
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm test -- --watchAll=false'
  language: system
  pass_filenames: false

Fix CI checks for code formatting and linting
  backend/.gitignore
  backend/app/api/endpoints/doses.py
  backend/app/api/endpoints/medications.py
  backend/app/core/config.py
  backend/app/main.py
  run_ci_checks_simple.sh
Due: backend-tests

Optimize GitHub Actions workflows
  .github/workflows/docker-build.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/security.yml
Due: none

Fix Docker workflows to build single unified container image
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

Clean up docker-compose files and documentation
  DEPLOYMENT.md
  DEVELOPMENT_PROMPTS.md
  DOCKER_COMPOSE_CLEANUP.md
  DOCKER_GUIDE.md
  README.md
  TASKS.md
  backend/MIGRATIONS.md
  build_images.sh
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-compose.yml
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
Due: none

Add PostgreSQL support to Docker image
  Dockerfile
  backend/requirements.txt
Due: none

Fix GitHub Actions permissions for security scanning
  .github/workflows/security.yml
Due: none

Fix security vulnerabilities in dependencies
  backend/requirements.txt
Due: none

Fix Starlette security vulnerability
  backend/requirements.txt
Due: none

Fix npm audit vulnerabilities in frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

Fix static file serving for React frontend assets
  backend/app/main.py
Due: backend-tests

Fix CI checks: apply Black formatting and fix pytest config
  backend/app/main.py
  backend/pytest.ini
Due: backend-tests

[Feature 1] Add dose history viewing functionality
  backend/tests/api/test_doses.py
  frontend/src/__tests__/components/DoseHistoryModal.test.tsx
  frontend/src/__tests__/components/MedicationTracker.test.tsx
  frontend/src/components/DoseHistoryModal.tsx
  frontend/src/components/MedicationTracker.tsx
Due: backend-tests, frontend-tests

[Feature 2] Add date navigation to view/record doses from previous days
  backend/app/api/endpoints/doses.py
  backend/app/api/endpoints/medications.py
  backend/tests/api/test_doses.py
  backend/tests/api/test_medications_date.py
  frontend/src/__tests__/components/MedicationTracker.test.tsx
  frontend/src/components/MedicationTracker.tsx
  frontend/src/services/api.js
Due: backend-tests, frontend-tests

Fix Black formatting issues
  backend/app/api/endpoints/doses.py
  backend/app/api/endpoints/medications.py
  backend/tests/api/test_doses.py
  backend/tests/api/test_medications_date.py
Due: backend-tests

Fix linting issues
  backend/app/api/endpoints/doses.py
  backend/app/api/endpoints/medications.py
  backend/tests/api/test_doses.py
  backend/tests/api/test_medications_date.py
  frontend/coverage/clover.xml
  frontend/coverage/coverage-final.json
  frontend/coverage/lcov-report/index.html
  frontend/coverage/lcov-report/src/App.js.html
  frontend/coverage/lcov-report/src/components/MedicationTracker.tsx.html
  frontend/coverage/lcov-report/src/components/index.html
  frontend/coverage/lcov-report/src/index.html
  frontend/coverage/lcov-report/src/index.js.html
  frontend/coverage/lcov-report/src/services/api.js.html
  frontend/coverage/lcov-report/src/services/index.html
  frontend/coverage/lcov.info
Due: backend-tests

Complete implementation of dose history and date navigation features
  .github/workflows/auto-merge-dependabot.yml
  backend/coverage.json
  verify_static_fix.sh
Due: none

Update tests and coverage data
  backend/coverage.json
  frontend/coverage/clover.xml
  frontend/coverage/lcov-report/index.html
  frontend/coverage/lcov-report/src/App.js.html
  frontend/coverage/lcov-report/src/components/MedicationTracker.tsx.html
  frontend/coverage/lcov-report/src/components/index.html
  frontend/coverage/lcov-report/src/index.html
  frontend/coverage/lcov-report/src/index.js.html
  frontend/coverage/lcov-report/src/services/api.js.html
  frontend/coverage/lcov-report/src/services/index.html
Due: none

Fix failing frontend tests and improve async test handling
  frontend/src/__tests__/components/DoseHistoryModal.test.tsx
  frontend/src/__tests__/components/MedicationTracker.test.tsx
Due: frontend-tests

Replace time input prompt with automatic browser time for recording doses
  frontend/src/__tests__/components/MedicationTracker.test.tsx
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Fix GitHub Actions auto-approve error for Dependabot PRs
  .github/workflows/auto-merge-dependabot.yml
Due: none

Revert "Merge pull request #6 from sjafferali/dependabot/pip/backend/pydantic-2.11.4"
  backend/requirements.txt
Due: none

Revert "Merge pull request #21 from sjafferali/dependabot/npm_and_yarn/frontend/multi-91aca562fb"
  frontend/package-lock.json
  frontend/package.json
Due: none

Revert problematic Dependabot merges and fix build issues
  .github/workflows/auto-merge-dependabot.yml
  backend/coverage.json
  frontend/package-lock.json
  frontend/package.json
  script.py
Due: none

fix: resolve all ESLint errors in frontend code
  frontend/src/__tests__/App.test.js
  frontend/src/__tests__/components/DoseHistoryModal.test.tsx
  frontend/src/__tests__/components/MedicationTracker.test.tsx
  frontend/src/__tests__/services/api.test.js
  frontend/src/components/DoseHistoryModal.tsx
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Fix history button visibility issue by adjusting modal z-index and adding debugging logs
  frontend/src/components/DoseHistoryModal.tsx
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Fix history button modal visibility by separating backdrop and content rendering
  frontend/src/components/DoseHistoryModal.tsx
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Redesign dose history UI to show inline under medications for better visibility
  frontend/src/__tests__/components/MedicationTracker.test.tsx
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Add daily dose log feature with chronological time-based format
  docs/DAILY_DOSE_LOG_PLAN.md
  docs/DAILY_LOG_FORMAT_CHANGE.md
  frontend/src/__tests__/components/DailyDoseLog.test.tsx
  frontend/src/__tests__/components/MedicationTracker.test.tsx
  frontend/src/components/DailyDoseLog.tsx
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Fix failing frontend test in DailyDoseLog component
  frontend/src/__tests__/components/DailyDoseLog.test.tsx
Due: frontend-tests

Fix View Daily Log button styling and add type attribute
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Move View Daily Log button to bottom for better UX
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Fix View Daily Log button appearance and clipboard copy error handling
  frontend/src/components/DailyDoseLog.tsx
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Fix View Daily Log button styling issue
  frontend/src/components/MedicationTracker.tsx
  frontend/src/index.css
Due: frontend-tests

Add timezone support to MediTrack
  CI_TEST_PLAN.md
  DAILY_LOG_FEATURE_SUMMARY.md
  backend/app/api/endpoints/doses.py
  backend/app/core/config.py
  backend/app/schemas/__init__.py
  backend/app/schemas/dose.py
  backend/coverage.json
  backend/data/meditrack.db
  docs/TIMEZONE_SUPPORT.md
  frontend/coverage/clover.xml
  frontend/coverage/coverage-final.json
  frontend/coverage/lcov-report/index.html
  frontend/coverage/lcov-report/src/App.js.html
  frontend/coverage/lcov-report/src/components/MedicationTracker.tsx.html
  frontend/coverage/lcov-report/src/components/index.html
  frontend/coverage/lcov-report/src/index.html
  frontend/coverage/lcov-report/src/index.js.html
  frontend/coverage/lcov-report/src/services/api.js.html
  frontend/coverage/lcov-report/src/services/index.html
  frontend/coverage/lcov.info
  frontend/src/__tests__/components/MedicationTracker.test.tsx
  frontend/src/components/MedicationTracker.tsx
  frontend/src/services/api.js
  script.py
  test_button_fix.html
  test_button_styling.html
  test_history_fix.html
Due: backend-tests, frontend-tests

feat: Add dose deletion functionality
  backend/app/api/endpoints/doses.py
  backend/tests/api/test_doses.py
  frontend/src/components/MedicationTracker.tsx
  frontend/src/services/api.js
Due: backend-tests, frontend-tests

test: Add tests for dose deletion and custom time features
  backend/coverage.json
  frontend/src/__tests__/components/MedicationTracker.test.tsx
  frontend/src/__tests__/services/api.test.js
Due: frontend-tests

Fix failing frontend test and CI linting issues
  backend/alembic/versions/588f4ae43933_add_seed_data.py
  backend/coverage.json
  frontend/coverage/clover.xml
  frontend/coverage/coverage-final.json
  frontend/coverage/lcov-report/index.html
  frontend/coverage/lcov-report/src/App.js.html
  frontend/coverage/lcov-report/src/components/MedicationTracker.tsx.html
  frontend/coverage/lcov-report/src/components/index.html
  frontend/coverage/lcov-report/src/index.html
  frontend/coverage/lcov-report/src/index.js.html
  frontend/coverage/lcov-report/src/services/api.js.html
  frontend/coverage/lcov-report/src/services/index.html
  frontend/coverage/lcov.info
  frontend/src/__tests__/components/MedicationTracker.test.tsx
Due: backend-tests, frontend-tests

Fix dose delete endpoint 405 error
  backend/app/api/endpoints/doses.py
  backend/coverage.json
  backend/tests/api/test_doses.py
  frontend/coverage/clover.xml
  frontend/coverage/coverage-final.json
  frontend/coverage/lcov-report/index.html
  frontend/coverage/lcov-report/src/App.js.html
  frontend/coverage/lcov-report/src/components/MedicationTracker.tsx.html
  frontend/coverage/lcov-report/src/components/index.html
  frontend/coverage/lcov-report/src/index.html
  frontend/coverage/lcov-report/src/index.js.html
  frontend/coverage/lcov-report/src/services/api.js.html
  frontend/coverage/lcov-report/src/services/index.html
  frontend/coverage/lcov.info
Due: backend-tests

Add custom time recording for doses
  frontend/src/__tests__/components/MedicationTracker.test.tsx
  frontend/src/components/MedicationTracker.tsx
  frontend/src/services/api.js
Due: frontend-tests

Fix race condition in dose recording preventing correct medication updates
  frontend/src/__tests__/components/MedicationTracker.race-condition.test.tsx
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Path conditions:
  backend-tests: any of: ^backend/.*\.py$
  frontend-tests: any of: ^frontend/src/.*\.(js|jsx|ts|tsx)$
