Repository sjafferali/meditrack: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, frontend-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        language_version: python3.11
        files: ^backend/.*\.py$

  - repo: https://github.com/PyCQA/isort
    rev: 5.11.4
    hooks:
      - id: isort
        files: ^backend/.*\.py$

  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        files: ^backend/.*\.py$
        args: ['--config=backend/.flake8']

  - repo: local
    hooks:
      - id: backend-tests
        name: Backend Tests
        entry: bash -c 'cd backend && source venv/bin/activate && python -m pytest tests/ -v'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$

      - id: frontend-tests
        name: Frontend Tests
        entry: bash -c 'cd frontend && npm test -- --watchAll=false'
        language: system
        pass_filenames: false
        files: ^frontend/src/.*\.(js|jsx|ts|tsx)$

Add test suite implementation summary
  docs/TestSuiteSummary.md
Due: none

Fix GitHub Actions Docker build workflow
  .github/workflows/docker-build.yml
Due: none

Add comprehensive CI/CD pipeline
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/security.yml
  README.md
  TASKS.md
  backend/pyproject.toml
  frontend/package.json
Due: none

Add CI/CD pipeline documentation
  docs/CI-CD.md
Due: none

Add CI/CD implementation summary
  docs/CI-CD-Summary.md
Due: none

Fix frontend Docker build TypeScript conflict
  frontend/Dockerfile
Due: none

Add Docker test and validation scripts
  docker-compose.test.yml
  scripts/test-docker-build.sh
  scripts/validate-dockerfiles.sh
Due: none

Fix TypeScript error in catch blocks and update Node version
  frontend/Dockerfile
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Add Codecov token support and document required secrets
  .github/workflows/ci.yml
  README.md
Due: none

Update dependencies to latest compatible versions
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/components/MedicationTracker.test.tsx
Due: frontend-tests

Update TASKS.md with completed dependency updates
  TASKS.md
Due: none

Fix TypeScript errors for production build
  frontend/src/components/MedicationTracker.tsx
Due: frontend-tests

Apply Black formatting to backend Python files
  backend/alembic/env.py
  backend/alembic/versions/588f4ae43933_add_seed_data.py
  backend/alembic/versions/f4162eb18a25_initial_migration_create_medications_.py
  backend/app/api/api.py
  backend/app/api/dependencies/database.py
  backend/app/api/endpoints/doses.py
  backend/app/api/endpoints/medications.py
  backend/app/core/config.py
  backend/app/db/base.py
  backend/app/db/session.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/dose.py
  backend/app/models/medication.py
  backend/app/schemas/__init__.py
  backend/app/schemas/dose.py
  backend/app/schemas/medication.py
  backend/scripts/db_utils.py
  backend/scripts/migrate.py
  backend/scripts/seed_data.py
  backend/tests/api/test_doses.py
  backend/tests/api/test_medications.py
  backend/tests/conftest.py
  backend/tests/test_main.py
  backend/tests/test_models.py
Due: backend-tests

Fix import sorting with isort
  backend/alembic/env.py
  backend/alembic/versions/588f4ae43933_add_seed_data.py
  backend/alembic/versions/f4162eb18a25_initial_migration_create_medications_.py
  backend/app/api/api.py
  backend/app/api/dependencies/database.py
  backend/app/api/endpoints/doses.py
  backend/app/api/endpoints/medications.py
  backend/app/core/config.py
  backend/app/db/session.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/dose.py
  backend/app/models/medication.py
  backend/app/schemas/__init__.py
  backend/app/schemas/dose.py
  backend/app/schemas/medication.py
  backend/scripts/db_utils.py
  backend/scripts/migrate.py
  backend/tests/api/test_doses.py
  backend/tests/api/test_medications.py
  backend/tests/conftest.py
  backend/tests/test_main.py
  backend/tests/test_models.py
Due: backend-tests

Fix flake8 linting errors in backend Python files
  backend/alembic/env.py
  backend/app/api/endpoints/doses.py
  backend/app/api/endpoints/medications.py
  backend/app/core/config.py
  backend/scripts/db_utils.py
  backend/scripts/seed_data.py
  backend/tests/api/test_doses.py
  backend/tests/api/test_medications.py
Due: backend-tests

Apply Black formatting to fix CI failures
  backend/alembic/env.py
  backend/app/api/endpoints/doses.py
  backend/app/api/endpoints/medications.py
Due: backend-tests

Fix isort import ordering in alembic/env.py
  backend/alembic/env.py
Due: backend-tests

Fix remaining flake8 errors
  backend/alembic/env.py
  backend/app/api/endpoints/doses.py
  backend/scripts/db_utils.py
  backend/tests/api/test_doses.py
  backend/tests/api/test_medications.py
  backend/tests/conftest.py
  backend/tests/test_main.py
  backend/tests/test_models.py
Due: backend-tests

Fix Black formatting in test_medications.py
  backend/tests/api/test_medications.py
Due: backend-tests

Fix test assertion for dose limit error message
  backend/tests/api/test_doses.py
Due: backend-tests

Fix mypy type errors
  backend/app/api/endpoints/doses.py
  backend/app/schemas/medication.py
Due: backend-tests

Fix security vulnerabilities detected by Trivy
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: none

Fix GitHub Actions workflow errors
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

Add required permissions for security scanning
  .github/workflows/ci.yml
Due: none

Update Trivy scanner to report vulnerabilities without failing build
  .github/workflows/ci.yml
Due: none

Update README.md with comprehensive overview and quick start guide
  README.md
Due: none

Add comprehensive API documentation with examples
  docs/API.md
Due: none

Add comprehensive architecture documentation with diagrams
  docs/ARCHITECTURE.md
Due: none

Add comprehensive deployment guide for multiple platforms
  docs/DEPLOYMENT.md
Due: none

Add comprehensive troubleshooting guide
  docs/TROUBLESHOOTING.md
Due: none

Add comprehensive contributing guidelines
  CONTRIBUTING.md
Due: none

Add comprehensive user guide with placeholder for screenshots
  docs/USER_GUIDE.md
Due: none

Enhance OpenAPI documentation with detailed descriptions and examples
  backend/app/api/endpoints/doses.py
  backend/app/api/endpoints/medications.py
  backend/app/main.py
Due: backend-tests

Update TASKS.md to mark documentation tasks as completed
  TASKS.md
Due: none

Add production Docker Compose configuration
  .env.production.example
  docker-compose.prod.yml
  nginx/nginx.conf
Due: none

Implement single-container architecture for MediTrack
  Dockerfile
  backend/app/core/config.py
  backend/app/main.py
  backend/data/meditrack.db
  backend/tests/test_main.py
  data/meditrack.db
  docker-compose.simple.yml
Due: backend-tests

Add comprehensive local CI check script
  run_ci_checks.sh
Due: none

Update CI check script to use Docker containers
  run_ci_checks.sh
Due: none

Add PostgreSQL docker-compose configuration and CI tools
  README.md
  backend/requirements.txt
  docker-compose.postgres.yml
  run_ci_checks_simple.sh
Due: none
